DATABASE_URL=DATABASE_URL
REDIS_URL=REDIS_URL
JWT_SECRET_KEY=SAME_SECRET_AS_AUTH_AND_THREAD_SERVICE
JWT_ALGORITHM=HS256
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@threadix.app
ENVIRONMENT=development
