DATABASE_URL=DATABASE_URL
JWT_SECRET_KEY=SAME_SECRET_AS_AUTH_SERVICE
JWT_ALGORITHM=HS256
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ENVIRONMENT=development
